@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Jacquarda+Bastarda+9&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Marcellus+SC&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Playwrite+IN:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}
@media screen and (max-width: 248px) {
  .header {

  }
  .left {
    position: relative;
    left: 116px;
    flex-direction: column;
  }
  .right {
    visibility: hidden;
  }
  .container-1 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .left-2 img {
    width: 525px;
  }
  .right-2 {
    text-align: center;
    margin-left: 108px;
  }
  .boxes {
   
    flex-wrap: wrap;
    margin-left: -154px;
    position: relative;
    left: 288px;
  
  }
  .headingproducts{
    width: 644px;
    }
  .boxes-2 {
    
    flex-wrap: wrap;
    width: 614px;
    
  }
  .Main-vegetable{
   flex-wrap: wrap;

  }
  
}
/* navbar  */
.header {
  box-shadow: 0 0 12px #f3f3f3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
 
}
.left {
  margin-left: 42px;
  display: flex;
  align-items: center;
}
.left img {
  height: 120px;
  width: 20vh;
}
.left ul {
  display: flex;
  margin-left: 32px;
}
.left li {
  margin-right: 23px;
}

.right {
  margin-right: 44px;
  display: flex;
  align-items: center;
}
.right ul {
  display: flex;
  margin-right: 52px;
}
.right li {
  margin-right: 12px;
}
.right span {
  color: #8bc34a;
  margin-right: 32px;
}
.right svg {
  height: 120px;
  width: 18px;
}
.right img {
  height: 20px;
  width: 18px;
}
/* navbar done */
/* ________________________________ */

/* Hero-Section-1 Start */

.container-1 {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 121px;
  align-items: center;
  margin-left: 90px;
  margin-right: 90px;
}
.right-2 h5 {
  font-family: "Merriweather", serif;

  font-size: 21px;
  color: #584d4d;
}
.right-2 h1 {
  font-family: "Merriweather", serif;
  line-height: 73px;
  font-size: 60px;
}
.right-2 p {
  font-size: 16px;
  margin-top: 18px;
  line-height: 23px;
}
.right-2 span {
  padding: 14px 44px;
  background-color: #6a9739;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  line-height: 7rem;
}

/* boxes starting */
.boxes {
  background-color: black;
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;
  justify-content: center;
  padding: 52px;

}
.box1 {
  border-radius: 3px;
  background-color: #303030;
  height: 117px;
  width: 279px;
  justify-content: center;
}
.box1 h3 {
  color: white;

  text-align: center;
}
.box1 p {
  color: white;
  text-align: center;
}
.box1 img {
  position: relative;
  top: 34px;
  left: 25px;
  height: 37px;
}
/* Ending boxes */

.headingproducts {
  line-height: 55px;
  margin-top: 125px;
  text-align: center;
  font-size: 17px;
}
.boxes-2 {
  margin-top: 71px;
  display: flex;
  flex-direction: row;
  gap: 23px;
  justify-content: center;
}
.box2 {
  padding: 8px;

  height: 435px;
  width: 318px;
}
.box2 p,
h4,
p {
  text-align: center;
}

.Main-vegetable {
  background-color: #f8f6f3;
  margin-top: 84px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  /* gap: 96px; */
}
/* Leaf image */

.image img {
  max-width: 125px;
  position: absolute;
  height: 51px;
  margin-left: 519px;
  margin-top: -24px;
}
.box3 {
  background-color: white;
  margin-top: 213px;
  border-radius: 4px;
  height: 368px;
  width: 374px;
  margin-left: 29px;
  padding: 49px;
}

.box3 p {
  color: #505050;
  margin-top: 10px;
  text-align: justify;
  line-height: 22px;
  font-size: 18px;
}
.box3 span {
  padding: 11px 22px;
  background-color: #6a9739;
  color: white;
  /* font-weight: 600; */
  line-height: 76px;
  border-radius: 3px;
}
.box3 svg {
  height: 11px;
  width: 14px;
}
.box3 img {
  height: 231px;
  width: 252px;
  margin-top: -46px;
  margin-left: 74px;
}

.purchase {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 484px;
  align-items: center;
  padding: 39px;
}
.purchase span {
  background-color: #6a9739;
  padding: 11px 32px;
  border-radius: 4px;
}
.Try {
  background-color: #f8f6f3;
  padding: 24px;
}
.Try h2 {
  margin-top: 32px;
  text-align: center;
}

.Trendingproduct {
  line-height: 55px;
  margin-top: 125px;
  text-align: center;
  font-size: 17px;
}

.boxes-Trending {
  display: flex;
  flex-direction: row;
  gap: 23px;
  justify-content: center;
}
.box4 {
  padding: 8px;

  height: 435px;
  width: 318px;
}
.box4 p,
h4,
p {
  text-align: center;
}

.Customer-Reviews {
  line-height: 55px;
  margin-top: 125px;
  text-align: center;
  font-size: 17px;
}

.Reviews-boxes {
 
  padding: 92px;
  background-color: #f8f6f3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 55px;
}
.box5 {
  box-shadow: 0 0 3px #e9dddd;
  background-color: white;
  height: 330px;
  width: 344px;
  border-radius: 8px;
}
.star {
  margin-top: 62px;
  display: flex;
  justify-content: center;
}
.star img {
  height: 22px;
  width: 22px;
}
#center {
  cursor: pointer;
  background-image: url(https://websitedemos.net/organic-shop-02/wp-content/uploads/sites/465/2019/06/sydney-rae-668606-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -50px;
  height: 379px;
  width: 400px;
  text-align: center;
  color: rgb(255, 255, 255);
}
#center h1 {
  margin-top: 118px;
  font-size: 40px;
}
#center:hover {
  opacity: 1.1;
}
.box5 p {
  margin-top: 36px;
  padding: 0px 29px;
}

.flex {
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex p {
  margin-top: 21px;
}

/* LOGO-BOXES */
.logoboxes {
  padding: 22px;
  background-color: #f8f6f3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box6 {
  height: 100px;
  width: 210px;
  margin-top: 38px;
}
.box6 h1 {
  text-align: center;
  font-size: 16px;
  margin: 38px;
}

.footerblack {
  display: flex;
  flex-direction: row;
  gap: 66px;
  justify-content: center;
  align-items: center;
  padding: 71px 0px;
  background-color: black;
  margin-top: 20px;
}
.box7 {
  color: white;
  /* border: 1px solid rgb(235, 234, 234); */
  height: 400px;
  width: 537px;
  margin-top: -54px;
}
.box7center {
  color: white;
  height: 488px;
  width: 315px;
}
.box7 p {
  text-align: justify;
  font-weight: 600;
  font-style: italic;
  margin-top: 40px;
  line-height: 25px;
}
.box7center h4 {
  text-align: justify;
  font-size: 24px;
  margin-top: 8px;
}
.box7center ul {
  margin-top: 39px;
}
.box7center li {
  font-size: 17px;
  line-height: 24px;
}
.box7center p {
  text-align: justify;
  margin-top: 32px;
  font-size: 17px;
  line-height: 24px;
}
#heading {
  margin-top: 62px;
}
.box7center img {
  height: 39px;
  width: 119px;
  margin-top: 30px;
}


/* lastfooter */

.footerlast{
  border-top: 1px solid #443e3e;
  display: flex;
  flex-direction: row;
  justify-content: center;
 gap: 812px;
  align-items: center;
  background-color: black;
  color: white;
  padding: 54px 0px;
}


.right-3 img{
  height: 18px;
  width: 18px;
  margin-left: 12px;
  
}
