@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Jacquarda+Bastarda+9&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Marcellus+SC&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Playwrite+IN:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  
}
.MAX_CONTAINER{
  max-width: 1440px;
  margin: 0px auto;
  animation:  boxstyle 1s linear;
}
/* ANIMATION */
@keyframes footer {
  from{
    opacity:0 ;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

/* Media Querry */
@media screen and (max-width: 230px) {
  body {
    background-color: #f8f6f3;
  }

  .header {
  }
  .left {
    
    position: relative;
    left: 116px;
    flex-direction: column;
  }
  .left img{
    width: 200px;
  }
  .right {
    visibility: hidden;
  }
  .container-1 {
    
    flex-wrap: wrap;
  }
  
  .left-2 img {
    
    width: 525px;
  }
  .right-2 {
   
    order: 1;
    text-align: center;
    margin-left: 177px;
  }
  .boxes {
    flex-wrap: wrap;
    margin-left: -174px;
    position: relative;
    left: 296px;
  }
  .headingproducts {
    width: 644px;
  }
  .boxes-2 {
    flex-wrap: wrap;
    width: 614px;
  }
  .Main-vegetable {
    flex-wrap: wrap;
    margin-left: 308px;
  }
  .image {
    margin-right: 1170px;
  }
  /* Vegetable box Done */

  .purchase {
    width: 569px;
    margin-top: 70px;
    text-align: center;
    flex-wrap: wrap;
    height: 227px;
    border-radius: 12px;
    margin-left: 49px;
  }
  .purchase span {
    margin-top: -838px;
  }
  .Try h2 {
    width: 249px;
    margin-left: 182px;
  }
  /* Trending box starting */
  .Trendingproduct{
    width: 651px;
  }
  .boxes-Trending{
    flex-wrap: wrap;
    width: 657px;
  }


  /* Customer Reviews */
  .Customer-Reviews{
    width: 651px;
  }
  .Reviews-boxes{
    flex-wrap: wrap;
    width: 662px;
  }
  .box5{
    margin: 38px;
  }
  /* Done */

  /* LOGO BOX STARTING*/
  .logoboxes{
    flex-wrap: wrap;
    width: 420px;
    margin-left: 132px;
  }
  /* DONE */

  /* FOOTER STARTING */
  .footerblack{
    flex-wrap: wrap;
    width: 517px;
    margin-left: 84px;
   
  }
  .box7 img{
    margin-left: 55px;
  }
  .box7 p{
    width: 234px;
    margin-left: 102px;
  }
  /* DONE */

  /* Footer last */
  .footerlast{
    flex-wrap: wrap;
    height: 234px;
    width: 517px;
    margin-left: 84px;
  }
  .right-3{
    margin-top:-1427px;
  }
  }


 
  

/* navbar  */
.header {
  box-shadow: 0 0 12px #f3f3f3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.left {
  margin-left: 42px;
  display: flex;
  align-items: center;
}
.left img {
  height: 120px;
  width: 214px;
}
.left ul {
  display: flex;
  margin-left: 32px;
}
.left li {
  color: black;
  cursor: pointer;
  margin-right: 23px;
  transition: all 0.3s ease;
}
.left li:hover{
  transform: scale(1.1);
  color: #6a9739;

}

.right {
  margin-right: 44px;
  display: flex;
  align-items: center;
}
.right ul {
  display: flex;
  margin-right: 52px;
}
.right li {
  color: black;
  cursor: pointer;
  margin-right: 12px;
  transition: all 0.3s ease;
}
.right li:hover{
  transform: scale(1.1);
color: #6a9739;
}
.right span {
  color: #8bc34a;
  margin-right: 32px;
}
.right svg {
  height: 120px;
  width: 18px;
}
.right img {
  height: 20px;
  width: 18px;
}
/* navbar done */
/* ________________________________ */

@keyframes boxstyle {
  from{
    opacity: 0;
    /* scale: 0.5; */
   transform: translateX(-100px);
  }
  to{
    opacity: 1;
    /* scale: 1; */
    transform: translateX(0px);
  }
}
/* Hero-Section-1 Start */

.container-1 {
 
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 160px;
  align-items: center;
  /* margin-left: 90px;
  margin-right: 90px; */

}
.left-2{

}
.left-2 img{
  width: 600px;
  height: 556px;
  margin-left: 74px;
}
.right-2{
  margin-right: 57px;
}
.right-2 h5 {
  font-family: "Merriweather", serif;

  font-size: 21px;
  color: #584d4d;
}
.right-2 h1 {
  font-family: "Merriweather", serif;
  line-height: 73px;
  font-size: 60px;
}
.right-2 p {
  font-size: 16px;
  margin-top: 18px;
  line-height: 23px;
  text-align: justify;
}
.right-2 span {
  padding: 14px 44px;
  background-color: #6a9739;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  line-height: 7rem;
  transition: all 0.3s ease;
}
.right-2 span:hover{
background-color: #8bc34a
;
}

/* boxes starting */
.boxes {
  animation:  footer  linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  background-color: black;
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;
  justify-content: center;
  padding: 52px;
}
.box1 {
     animation: footerlinear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    border-radius: 3px;
    background-color: #303030;
       height: 120px;
    width: 295px;
    transition: all 0.3s ease;
    border-radius: 6px;
}
.box1:hover{
  transform: scale(1.1);
}
.box1 h3 {
  color: white;

  text-align: center;
}
.box1 p {
  color: white;
  text-align: center;
}
.box1 img {
    position: relative;
    top: 33px;
   left: 33px;
    height: 32px;
}
/* Ending boxes */

.headingproducts {

  line-height: 55px;
  margin-top: 125px;
  text-align: center;
  font-size: 17px;
}
.boxes-2 {
  animation:  footer  linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  margin-top: 71px;
  display: flex;
  flex-direction: row;
  gap: 23px;
  justify-content: center;
}
.box2 {

  cursor: pointer;
  padding: 8px;

  height: 435px;
  width: 318px;
  transition: all 0.3s ease;
}
.box2:hover{
  transform: scale(1.1);
}
.box2 p,
h4,
p {
  text-align: center;
}

.Main-vegetable {
  background-color: #f8f6f3;
  margin-top: 84px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  /* gap: 96px; */
}
/* Leaf image */

.image img {
  max-width: 125px;
  position: absolute;
  height: 51px;
  margin-left: 519px;
  margin-top: -24px;
}
.box3 {
  animation:  footer  linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  background-color: white;
  margin-top: 213px;
  border-radius: 4px;
  height: 368px;
  width: 374px;
  margin-left: 29px;
  padding: 49px;
  transition: all 0.3s ease;
}
.box3:hover{
transform: scale(0.9);
}

.box3 p {
  color: #505050;
  margin-top: 10px;
  text-align: justify;
  line-height: 22px;
  font-size: 18px;
}
.box3 span {
  padding: 11px 22px;

  background-color: #6a9739;
  color: white;
  line-height: 76px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.box3 span:hover{
  background-color: #8bc34a;
}
.box3 svg {
  height: 11px;
  width: 14px;
}
.box3 img {
  height: 231px;
  width: 252px;
  margin-top: -46px;
  margin-left: 74px;
}

.purchase {
  animation:  footer linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 484px;
  align-items: center;
  padding: 39px;
}
.purchase span {
  background-color: #6a9739;
  padding: 11px 32px;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.purchase span:hover{
  background-color: #8bc34a;
}
.Try {
  animation:  footer  linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  background-color: #f8f6f3;
  padding: 24px;
}
.Try h2 {
  margin-top: 32px;
  text-align: center;
}

.Trendingproduct {
  line-height: 55px;
  margin-top: 125px;
  text-align: center;
  font-size: 17px;
}

.boxes-Trending {
  animation:  footer  linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  display: flex;
  flex-direction: row;
  gap: 23px;
  justify-content: center;
}
.box4 {
  margin-top: 23px;
  padding: 8px;

  height: 435px;
  width: 318px;
  transition: all 0.3s ease;
}
.box4:hover{
  transform: scale(1.1);
}
.box4 p,
h4,
p {
  text-align: center;
}

.Customer-Reviews {
  line-height: 55px;
  margin-top: 125px;
  text-align: center;
  font-size: 17px;
}

.Reviews-boxes {
  animation:  footer  linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  margin-top: 23px;
  padding: 92px;
  background-color: #f8f6f3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 55px;
}
.box5 {
  box-shadow: 0 0 3px #e9dddd;
  background-color: white;
  height: 330px;
  width: 344px;
  border-radius: 8px;
  overflow: hidden;
}
.star {
  margin-top: 62px;
  display: flex;
  justify-content: center;
}
.star img {
  height: 22px;
  width: 22px;
}
#center {
  cursor: pointer;
  background-image: url(https://websitedemos.net/organic-shop-02/wp-content/uploads/sites/465/2019/06/sydney-rae-668606-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
background-color: black;

  margin-top: -50px;
  height: 400px;
  width: 372px;
  text-align: center;
  color: rgb(255, 255, 255);
  
  transition: all 0.3s ease;

 
  
}
#center h1 {
  margin-top: 118px;
  font-size: 40px;
}
#center:hover {
  opacity: 0.8;

  transform: translateY(20px);
}

.box5 p {
  margin-top: 36px;
  padding: 0px 29px;
  opacity: 0.6;
 
 
}
.box5 span{
  background-color: #6a9739;
  padding: 11px 25px;
  border-radius: 6px;
  line-height: 65px;
  transition: all 0.3s ease;
}
.box5 span:hover{
  color: #f3f3f3;
  background-color: #8bc34a;
}

.flex {
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex p {
  margin-top: 21px;
}

/* LOGO-BOXES */
.logoboxes {
  animation:  footer  linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  padding: 22px;
  background-color: #f8f6f3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box6 {
  height: 100px;
  width: 210px;
  margin-top: 38px;
  transition: all 0.3s ease;
}
.box6:hover{
  transform: scale(1.1
  );
}
.box6 h1 {
  text-align: center;
  font-size: 16px;
  margin: 38px;
}

.footerblack {
  animation: footer  linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  display: flex;
  flex-direction: row;
  gap: 66px;
  justify-content: center;
  align-items: center;
  padding: 71px 0px;
  background-color: black;
  margin-top: 20px;
}
.box7 {
  color: white;
  /* border: 1px solid rgb(235, 234, 234); */
  height: 400px;
  width: 537px;
  margin-top: -54px;
}
.box7center {
  color: white;
  height: 488px;
  width: 315px;
}
.box7 p {
  text-align: justify;
  font-weight: 600;
  font-style: italic;
  margin-top: 40px;
  line-height: 25px;
}
.box7center h4 {
  text-align: justify;
  font-size: 24px;
  margin-top: 8px;
}
.box7center ul {
  margin-top: 39px;
}
.box7center li {
  font-size: 17px;
  line-height: 24px;
}
.box7center p {
  text-align: justify;
  margin-top: 32px;
  font-size: 17px;
  line-height: 24px;
}
#heading {
  margin-top: 62px;
}
.box7center img {
  height: 39px;
  width: 119px;
  margin-top: 30px;
}

/* lastfooter */

.footerlast {
  border-top: 2px solid #252424;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 812px;
  align-items: center;
  background-color: black;
  color: white;
  padding: 54px 0px;
  cursor: pointer;
}

.right-3 img {
  height: 18px;
  width: 18px;
  margin-left: 12px;
  transition: all 0.3s ease;
}
.right-3 img:hover{
  transform: scale(1.1);
}
